<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Mentalist, the Little Printer learning tool</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
        <script src="//use.typekit.net/ydn0lzj.js"></script>
        <script>try{Typekit.load();}catch(e){}</script>
    </head>
    <body class="tk-museo-slab">
        <h1>Mentalist<span>{{ day|date:"l" }}, {{ day.day }}<sup>{{ day|date:"S"}}</sup> {{ day|date:"F Y" }}</span></h1>

        <p class="time">estimated completion time:<span>{{ total_time }}</span></p>

        <hr>

        <ul class="list">
            {% for iteration in iteration_list %}
                <li>
                    <p>{{ iteration.pearl.text }}</p>
                    <ul class="iterations">
                        <li{% if iteration.iteration == 1 %} class="complete"{% endif %}></li>
                        <li{% if iteration.iteration == 2 %} class="complete"{% endif %}></li>
                        <li{% if iteration.iteration == 3 %} class="complete"{% endif %}></li>
                        <li{% if iteration.iteration == 4 %} class="complete"{% endif %}></li>
                        <li{% if iteration.iteration == 5 %} class="complete"{% endif %}></li>
                        <li{% if iteration.iteration == 6 %} class="complete"{% endif %}></li>
                    </ul>
                </li>
            {% endfor %}
        </ul>

        <hr>

        <p>DIRTYMONKEY.CO.UK</p>
    </body>
</html>
