<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Mentalist, the Little Printer learning tool</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
    </head>
    <body>
        <h1>Mentalist<span>Monday, 1<sup>st</sup> December 2014 </span></h1>

        <p class="time">estimated completion time:<span>2 minutes</span></p>

        <hr>

        <ul class="list">
            <li>
                <p>What is the capital city of Afghanistan?</p>
                <ul class="iterations">
                    <li class="complete"></li>
                    <li class="complete"></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </li>

            <li>
                <p>What is the goal of the Feynman technique?</p>
                <ul class="iterations">
                    <li class="complete"></li>
                    <li class="complete"></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </li>

        <hr>

        <p>DIRTYMONKEY.CO.UK</p>
    </body>
</html>
